@import url("../css/style.css");

/*------------------------------------------------*/

/*------------------------------------------------*/
.title-big{
    font-family: 'Monoton', serif;
    text-align: center;
}
.title{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    text-align: center;
}
.title-small{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    text-align: center;
}
.subtitle{
    font-family: 'Roboto', sans-serif;
}
/*------------------------------------------------*/
.heading{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
.description{
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
}
/*------------------------------------------------*/
