@import url("../css/style.css");

/*------------------------------------------------*/

/*------------------------------------------------*/
.title{
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.subtitle{
    font-family: 'Roboto', sans-serif;
}
/*------------------------------------------------*/
.heading{
    font-family: 'Oswald', sans-serif;
}
.description{
    font-family: 'EB Garamond', serif;
}
/*------------------------------------------------*/
